<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>

    <body class = "body-bg">
        <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
            <a href="{{ url_for('home') }}" class="navbar-brand">Blog</a>
            <a href="{{ url_for('home') }}" class="navbar-brand">Portfolio</a>
            <a href="{{ url_for('home') }}" class="navbar-brand">Skill</a>
            <a href="{{ url_for('about') }}" class="navbar-brand">Contact</a>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>© 2018</p>
            </footer>
        </div>
    </body>
</html>